/* MPS Style */
ul.lvl2 { list-style:none; }
ul.lvl2 li{ list-style:none; }
ul.lvl2 li a{ font-weight:normal !important; }
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}
.col-xs-1 {width:8.33333333%;}
.col-xs-2 {width:16.66666667%;}
.col-xs-9 {width:75%;}
.col-xs-12 {width:100%;}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {line-height: normal;}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px \9;
}
.no-gutter > [class*='col-'] {
    padding-right:0 !important;
    padding-left:0 !important;
}
#mps-container * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#no-datasheet {display:none;}
#mps-container .no-datasheet, .no-datasheet {display:block !important;}
#mps-container .hide, .hide {display:none;}
#mps-container {
    width:100%;
    height:500px;
    background-color: #FFFFFF;
    z-index: 1000;
    border-radius:0 !important;
    font-size:.9em;
	position:relative;
	border-top:1px solid #90959C;
	border-bottom:1px solid #90959C;
}
#mps-container #package-type div {
	margin:0 20px 0 0;
}
#mps-main-frame.fullscreen {
    z-index:150000;
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
}

#loading.fullscreen {
	z-index:150001;
	width:100%;
	height:100%;
	top:0;
	left:0;
	position:fixed;
  opacity: 0.7;
}

.mps-control-center-cell {vertical-align: top !important;}
.mps-attribute-cell,
.mps-control-center-cell {
    width:auto;
    height: 225px;
    padding: 0px 0px 0px 0px !important;
}
.mps-control-center {width: 120px;}
.mps-control-center-top,
.mps-control-center-bottom {text-align: center;}
.mps-control-center-button {
    width:160px !important;
    margin-top:4px;
    margin-bottom:4px;
}
.mps-attribute-container {width:auto; margin: 5px;}
.mps-attribute-container.scroller {min-width:75px;}
.mps-attribute-handle, .dragtable-drag-handle {
    height:12px;
    border-bottom:1px #90959C solid;
    text-align:center;
    line-height:4px;
}
.mps-attribute-name {
    min-height: 90px;
    border-bottom: 1px #90959C solid;
    padding:0 0 5px 0;
}
.mps-attribute-name div {
    white-space: nowrap;
}
.capitalize {text-transform: capitalize;}
.mps-attribute-sort {
    border-top: 1px #90959C solid;
    text-align: center;
    cursor:pointer;
    padding-top:2px;
}
.mps-attribute-sort a {display: block;}
.mps-text-attribute {
    height: 150px;
    overflow: auto;
}
.sorting .mps-sort-button {color: #90959C;}
.sorting_asc .mps-sort-button-active {color: #0C62B5;}
.mps-attribute-control {
    height: 140px;
    margin-top: 10px;
    /*margin-bottom: 10px;*/
}
.mps-attribute-control div {
    white-space: nowrap;
}
.mps-range-input {
    height: 20px;
    padding: 2px;
    font-size: 11px;
    color: #555555;
    font-weight: normal;
    border-radius: 3px;
    text-align: center;
}
.form-control {height:20px !important;}
.mps-slider {margin: 14px auto 12px auto;}
.mps-partcheck {float:left;margin-right:5px !important;}
.mps-partnumber {margin-right:15px !important;}
.mps-part-data {text-align: center !important;}
.dragtable-drag-handle{
    /*cursor: move;*/
}
.dragtable-drag-wrapper{
    position: relative;
    z-index: 100;
    visibility: hidden;
}
.dragtable-drag-wrapper .dragtable-drag-col{
    cursor:move;
}
.dragtable-col-placeholder {
    border-left: 1px dotted black;
    border-right: 1px dotted black;
    background:#E4F1FE !important;
    cursor:move;
    visibility: visible !important;
}
#mps-container table tbody tr td.dragtable-col-placeholder {
	background:#E4F1FE !important;
}
#mps-container table .dragtable-col-placeholder:first{
    border-top:1px dotted black;
}
#mps-container table {
    color:#333;
    border: 0;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    width:100%;
    font-size:.9em;
	border-left: 1px solid #90959C;
	border-right: 1px solid #90959C;
}
#mps-container tbody {
    background: white;
    white-space: nowrap;
}
#mps-container table thead tr th:first-child {
	-webkit-box-shadow: 1px 0px 0px 0px #90959C;
	-moz-box-shadow: 1px 0px 0px 0px #90959C;
	box-shadow: 1px 0px 0px 0px #90959C;
}
#mps-container table tbody tr td:first-child {
	-webkit-box-shadow: 1px 0px 0px 0px #90959C;
	-moz-box-shadow: 1px 0px 0px 0px #90959C;
	box-shadow: 1px 0px 0px 0px #90959C;
}
#mps-container table tbody tr td:first-child div {
	/*padding-right:20px;*/
}
#mps-container table tbody tr:hover td {background-color:#E4F1FE !important;}
#mps-container table tbody tr td {background-color:white !important;}
#mps-container table thead  th {
	background-color:white;
    background:#eee;
	text-align: left;
    padding: 5px 8px;
	border: 1px solid #90959C;
	border-top:none;
	background-clip: padding-box !important;
	-webkit-box-shadow: 0 1px 0 #90959C;
	-moz-box-shadow: 0 1px 0 #90959C;
	box-shadow: 0 1px 0 #90959C;
}
#mps-container table tbody td {
	border: 1px solid #90959C;
	border-offset: -1px;
    padding: 5px 8px;
    background-clip: padding-box !important;
}
#mps-container label {
    white-space: nowrap;
}
.table-btn, .table-btn-reset {
    color:white;
    width:100% !important;
    margin-bottom:1px;
    font-size:11px;
    font-weight: normal;
    line-height:1.8;
    border:0;
    cursor:pointer;
	white-space: nowrap;
	padding:0 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.table-btn, .table-btn-green {
    background-color: #01A3D8;
}
.table-btn-reset, .table-btn-dark {
    background:#404041;
}
#mps-container table tbody tr.selectedCompare {
    background-color:#FFFFE0 !important;
}
#mps-container table tbody tr.selectedCompare td {
	background-color:#FFFFE0 !important
}
.panel {margin-bottom:0 !important;}
.first-col-top {height:65px;}
.table-status-wrapper {
	height: 120px;
	margin-top: 5px;
	margin-bottom: 10px;
}
.table-status {
    background:white;
	width:100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding:5px 12px;
	margin-bottom:10px
}
.table-status-results-title {
	font-weight:bold;
	text-decoration:underline;
}
.table-status-results {
    font-size:10px;
	white-space: nowrap;
	font-weight:normal;
}
#mps-container thead a, #mps-container thead a:focus, #mps-container thead a:hover {
    text-decoration:none;
}
#mps-container tbody a {
    color:#333;
    text-decoration:none;
    border-bottom:1px dotted #333
}
#mps-container tbody a:hover {
    color:#000;
    text-decoration:none;
    border-bottom:1px solid #000
}
#loading {
    background:#f0f0f0 url(images/loading.gif) no-repeat center center;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    right:0;
    left:0;
    bottom:0;
    opacity: 1;
    z-index:10000;
}
#no-data {
    background:#f0f0f0;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	line-height:500px;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    right:0;
    left:0;
    bottom:0;
    z-index:9999;
}
.ui-tooltip {
    border:none !important;
    border-top:5px solid #337ab7 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}
.ui-tooltip-content {
    margin:0 5px 5px 5px;
}
.ui-tooltip-content a {
    color:#333;
    font-size:.9em;
    margin-left:10px;
}
.tooltip_title {
    font-weight:bold;
    margin-bottom:5px;
}
th .ui-widget-content {
	background:#a1a6ac !important;
}
.close_btn {
    background: url(images/close_btn.png) no-repeat;
    width:20px;
    height:20px;
    display:inline-block;
    float:right;
    cursor:pointer;
}
.product_details_link {
    background: url(images/folder_16x16.png) no-repeat;
    width:16px;
    height:16px;
    display:inline-block;
    float:left;
    margin-top:2px;
}
.product_datasheet_link {
    background: url(images/filepdf_16x16.png) no-repeat;
    width:16px;
    height:16px;
    display:inline-block;
    float:left;
    margin-top:2px;
}
.contact_us_link{
    background: url(images/contact_16x16.png) no-repeat;
    width:16px;
    height:16px;
    display:inline-block;
    float:left;
    margin-top:2px;
}
.smaple_buy_link{
    background: url(images/cart_16x16.png) no-repeat;
    width:16px;
    height:16px;
    display:inline-block;
    float:left;
    margin-top:2px;
}
.sort_default {
    background: url(images/sort_default.png) no-repeat;
    width:20px;
    height:5px;
    display:inline-block;
}
.sort_asc.mps-sort-button-active {
    background: url(images/sort_asc.png) no-repeat;
    width:20px;
    height:5px;
    display:inline-block;
}
.sort_dec.mps-sort-button-active {
    background: url(images/sort_dec.png) no-repeat;
    width:20px;
    height:5px;
    display:inline-block;
}
.mps-tooltip-inner {
    max-width: 200px;
    line-height:14px;
    color: #D4D8DB;
    text-align: center;
    text-decoration: none;
    background-color: #404041;
    position: absolute;
    top: -10px;
    left: -62px;
    width: 60px;
    font-size:0.8em;
}
#table_to_excel {
	display:none;
}
#mps-pagination .paginationclass{
	margin: 15px 28px;
 }
#mps-pagination .paginationclass div{
    border-bottom:1px solid silver;
}
#mps-pagination .paginationclass span{
    margin:0px 15px;
    display:inline-block;
    padding:5px 0px;
    text-align:left;
    width:70px;
}
#mps-pagination .pagination-controle li{
    display: inline-block;
}
#mps-pagination .pagination-div li.active, #mps-pagination .pagination-div li.pagination-button {
	background-color:#01A3D8;
}
#mps-pagination .pagination-controle button{
    width: 63px;
    font-size: 14px;
    margin-left: 13px;
    cursor:pointer;
}
#mps-pagination .pagination-div li {
	background-color:#eee;
	padding:2px 4px 2px 8px;
	margin:1px;
}
#mps-pagination .pagination-div li.active a, #mps-pagination .pagination-div li.pagination-button a {
	color:white;
}
#mps-pagination .pagination-div li.disabled {
	background-color:#eee;
}
#mps-pagination .pagination-div li.disabled a {
	color:#90959C;
}
#mps-pagination .pagination-div li a {
	color:#90959C;
}
#mps-pagination {
	background:white;
	padding-bottom:5px;
}
#mps-main-frame.fullscreen #mps-pagination {
	padding:5px;
}
#mps-pagination .indicator {
	float:right;
}
#no-part-message {
	font-size:20px;
	font-weight:bold;
	text-align:center;
	line-height:750px;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	right:0;
	left:0;
	bottom:0;
}
.mps-left {float:left;}
.mps-right {float:right;}
.mps-right img {width:200px;cursor:pointer;}
.mps-right img.maximize-diagram {width:500px; !important}
.mps-spacer {padding:10px;}

#mps-searchArea {
	width:100%;
	border:1px solid #ccc;
	position:relative;
}
#mps-searchBox {
	font-weight:normal;
	width:100%;
	padding:3px 5px;
	border:0;
	padding-right:20px;
}
#mps-searchBtn {
	background-image:url(images/search.png);
	background-color:transparent;
	background-repeat:no-repeat;
	position:absolute;
	top:50%;
	right:0;
	margin-top:-8px;
	width:20px;
	border:0;
	opacity:0.5;
}
#mps-closeBtn {
	background-image:url(images/close.png);
	background-color:transparent;
	background-repeat:no-repeat;
	position:absolute;
	top:50%;
	right:20px;
	margin-top:-8px;
	width:20px;
	border:0;
	opacity:0.5;
	cursor:pointer;
}
.mps-left-cell {
    min-width: 160px;
}