/* Overlay , enable it if display in header, and header{over-flow:hidden;} */
#simplemodal-overlay {background-color:#000;}
#simplemodal-container a.modalCloseImg {background:url(../images/close_bt.png) top no-repeat; width:26px; height:26px; display:inline; z-index:3200; position:absolute; top:6px; right:10px; cursor:pointer;}
#simplemodal-container a.modalCloseImg:hover {background:url(../images/close_bt.png) bottom no-repeat; width:26px; height:26px; display:inline; z-index:3200; position:absolute; top:6px; right:10px; cursor:pointer;}
.simplemodal-wrap{
	overflow:visible!important;
}
.clearing{clear:both;height: 0px;}
.btl-content-block{
	background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
	border:1px solid #dadada;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.4);
    display: none;
    height: auto;
    overflow: hidden;
    text-align: left;
	font-size:12px;
	position:relative;
}
.lout-div{ padding: 10px 10px 10px 20px;
border-bottom: 1px solid #e1e8ed;}

.btl-content-block form{
	margin:0;
	padding:0;
}
.btl-content-block h3{
	margin: 0px 0px 20px 0px;
	color: #1b1d1f;
	/* padding: 3px 0px 0px 19px!important; */
	font-size: 24px;
	font-weight: 600;
}
.btl-input > input[type=text],
.btl-input > input[type=password],
#recaptcha > input{
    border: 1px solid #dadada;
    margin: 5px 0;
    text-indent: 5px;
    height: 17px;
	padding:10px;
}
#recaptcha > input{
	width: 100px;
}
.btl-input > input:focus,
#recaptcha > input:focus{
	border-color: #E9322D;
    box-shadow: 0 0 6px #F8B9B7;
}
#recaptcha span#btl-captcha-reload{
	display: inline-block;
	width: 16px; height: 16px;
	background: url('../images/reload.png') no-repeat;
	text-indent: -9999px;
	cursor: pointer;
}
#btl{
	position:relative;
}
#btl .btl-panel{
	overflow:hidden;

}
#btl .btl-panel > #btl-panel-profile{
	background:url(../images/btl-panel-bg.png) right 10px no-repeat;
	padding-right:16px;
}
button::-moz-focus-inner {
padding:0; border: none;
}
#btl .btl-panel > span{
	display:inline-block;
	cursor:pointer;
	text-indent: 0!important;
	width: auto;
	padding: 5px 10px;
    background: #25A74D;
    font-weight: 400;
    border-radius: 5px;
}
button.btl-buttonsubmit,input.btl-buttonsubmit{

}
#btl .btl-panel > span.active,button.btl-buttonsubmit:focus,input.btl-buttonsubmit:focus{
	opacity:0.8;
}
.btl-error{
	display:none;
}
.btl-error-detail{
	display:none;
	float: right;
	color: #FF0000;
	margin-bottom:4px;
}
.btl-field,#create_account,.btl-error-detail,.btl-error,.btl-note{
	overflow:hidden;
}
 .btl-label{
margin-top: 10px !important;
font-weight: 600;
font-size: 13px;
}
 .btl-input{

}
.btl-label, .btl-input {

}
.btl-new-logout{text-transform:none !important; color: #FC7C07!important;background: none!important;text-shadow:none !important;text-decoration: underline;font-size: 16px;}
.btl-dropdown{text-transform:capitalize;color:#FC7C07;}
.btl-drp-title{text-transform:capitalize;font-size:13px;font-weight:600;color: #2E5291;}
.lout-div a {color: #646464 !important;}
.btl-drp-link{background:url(../images/arr-grey.png) no-repeat no-repeat 0 8px;padding-left:15px;margin: 2px;font-size: 14px;}
.btl-drp-link-new{float:left;width:45%;background:url(../images/arr-grey.png) no-repeat no-repeat 0 8px;padding-left:15px;margin: 2px;font-size: 14px;}
#recaptcha{
	height: auto!important;
	float:right;
}
#btl-content-login .btl-input input{
	width: 93%;
}
#btl-input-remember{
}
#btl-checkbox-remember{
	width: 15px!important;
	vertical-align:middle;
	padding:0;
	margin:0;
}
.clear{
	clear:both;
}
.btl-error{
	color: #FF0000;
margin-top: 10px !important;
}
input.btl-buttonsubmit{background:#25A74D !important;}
input.btl-buttonsubmit,
button.btl-buttonsubmit{
border: none!important;
cursor: pointer;
text-align: center!important;
width: 100px;
padding: 0 12px;
height: 35px!important;
line-height: 35px!important;
display: inline-block;
text-transform:uppercase;
}
div.btl-buttonsubmit{
padding: 15px 0 15px 0!important;
border-bottom: 1px solid #dddddd;
margin: 0px 0px 10px 0px!important;
}
#btl-content-profile {top:60px; right:85px;}
/* STYLE FOR DROP-DOWN PANEL (all element in  #btl-content) */
#btl-content ul li a:hover{
	color:#7BA428 !important;
	text-decoration: underline!important;
	background-color: transparent!important;

}
#btl-content > .btl-content-block{
	position:absolute!important;
	z-index:100000;
}
#btl-content #btl-content-login{
	width:350px;
}

#btl-content-registration{
	min-width:350px;
}
.btl-note{}
#create_account{
background: #2E5291;
padding: 10px;
font-size: 12px;
text-transform: uppercase;
text-align: center;
margin-top: 15px;
}
#create_account a{ color:#fff;}
 #btl-content-login .btl-input{
}
#btl-content-login .spacer{
	height:14px;
}

#btl-content div.btl-buttonsubmit{
	border-bottom: 1px dotted #c4c4c4;
}
#btl-content #btl-content-login .btl-label {
	line-height:38px;
	min-width: 0px!important;
}

/* CSS FOR USER PROFILE MODULE**/
#btl-content  #btl-content-profile{
	overflow:hidden;
}
#module-in-profile{
	min-width:200px;
}
#btl-content #btl-content-profile #module-in-profile ul{
	position: static;
	text-align: left;
	margin: 0 0 0 15px;
	padding: 0!important;

}
#btl-content-profile ul.menu li {
    background: url("../images/bullet.png") no-repeat scroll 5px 15px transparent;
    padding: 0 0 0 20px!important;
	border-bottom: 1px solid #E8E8E8;
	display:list-item!important;
    line-height: 37px;

}
#btl-content #btl-content-profile #module-in-profile ul li a{
	color: #6b6b6b;
	text-decoration: none !important;
	text-transform: none!important;
	font-family: arial,tahoma;
}

#btl-content-profile ul.menu li a {
    color: #616161!important;
	text-decoration:none!important;
	border:none!important;
	background:none!important;
	display:inline!important;
	padding:0!important;
	margin:0!important;
	text-transform: none!important;
}
#btl-content-profile div.btl-buttonsubmit{
	clear:both;
	margin-bottom:15px;
	border: none!important;
	text-align: center;
	margin-top: 0!important;

}
/* style panel when action process */
#btl-register-in-process,#btl-login-in-process{
	display: none;
	background: url("../images/loading.gif") no-repeat #000 50%;
	opacity: 0.4;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 9999;
	top:-1px;
	left:-1px;
	padding-top:1px;
	padding-left:1px;
}

/* style panel when register success */
#btl-success{
	display: none;
	margin: 20px 0 30px 0;
	background:url("../images/notice-info.png") no-repeat;
	display: none;
	color:#000;
	border-bottom: 2px solid #90B203;
	border-top: 2px solid #90B203;
	font-size:14px;
	padding: 10px 10px 10px 25px;
}
/* style for ul in login panel*/
#bt_ul{
	margin-top:-10px!important;
	margin-bottom:20px!important;
	margin-right: 25px!important;
	float:right;
}

/* for modal*/
#btl-content-login ul{
	position: static!important;
	text-align: left;
	list-style-type: disc !important;
}
#btl-content-login ul li{
	margin-top: 3px;
}
#bt_ul li a{
	padding: 0!important;
	text-decoration: none!important;
	color:#545454!important;

}
#btl-wrap-module{
	padding-left: 20px;
	padding-bottom: 20px;
	padding-top: 10px;
}
